
h2{
  font: italic small-caps normal 16px/150% Arial, Helvetica, sans-serif;
}

ul{
	list-style-type: none;
	
}





#template,
#render,
#values {
	
	overflow-x: auto; 
     width: 100%;
    min-height: 300px;
    resize: vertical;
    font-family: "Courier New", Courier, monospace;
    
    border: 1px solid #ccc;

}



#render {
    background: #eee;
}