
h2{
font-family: "Times New Roman", Times, serif;
font-style: normal;
}


ul{
	list-style-type: none;
	
}






#template,
#render,
#values {
	
     width: 100%;
    min-height: 300px;
    resize: vertical;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #ccc;

}



#render {
    background: #eee;
}